@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
    --header-height: 3.5rem;
  
    --white-color-light: #FDFEFE;
    --white-color:#f9f9f9;
    --white-dark:#F4F6F7;
    --white-darker:#F8F9F9;
    --grey-color-light: #f9f9f9;
    --grey: #f1f1f1c6;
    --grey-color: #ddd;
    --black-color-light: #000;
    --black-color-lighten: rgb(45, 52, 68);
    --body-color: #F5F5F5;
  
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;
  
    --font-regular: 400;
    --font-semi-bold: 600;
  
    --z-tooltip: 10;
    --z-fixed: 100;
  }

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    height: max-content;
}

ul {
    list-style: none;
  }
  
a {
    text-decoration: none;
}

.topic {
  font-size: 1.6rem;
  font-weight: bold;
  width: 100%;
  padding: 2vh 0;
}

.container {
  max-width: 75%;
  margin-inline: 1.5rem;
  margin: 0 auto;
}

.contentcontainer {
  margin: var(--header-height) auto;
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1118px) {
  .contentcontainer {
    margin: calc(var(--header-height) + 1rem) auto 1rem auto;
  }
}